@charset "utf-8";
/**
	author:SM
	e-mail:sm0210@qq.com
	desc:SMCalendar日历样式
	version:SMCalendar 1
*/

*{font-size:13px;}
/**/
.SMCalendar td{width:36px; height:36px; margin:0px; padding:0px;}
/**/
.toDayCalendar{background:transparent url(../images/todayclass.png) no-repeat;color:#FFF;}
/**/
.dateClass span{display:block;background:url(../images/maskCalendar.png) right top no-repeat;cursor:pointer; margin:0px;padding:0px;width:100%;height:36px;line-height:36px;}

